.developers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #f1e9e4;
}

.link {
  border-radius: 4px;
  outline: 1px solid transparent;

  &:hover,
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #780096;
  }
}
